:root {
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(219, 216, 216);
  --color-light-grey: rgb(230, 230, 230);
  --color-white: rgb(255, 255, 255);
  --chakra-font: 'Chakra Petch', sans-serif;
  --color-ligth-green: rgb(0, 204, 204);
  --color-orange: rgb(255, 68, 34);
  --color-yellow: rgb(255, 255, 0);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  background: var(--color-white) center center fixed;
  background-size: cover;
}

@media all and (max-width: 1114px) {
  .main-header-content {
    display: grid;
    grid-template-columns: 1fr 13fr;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  width: 100%;
  height: 2rem;
  color: var(--color-white);
}

.main-articles-footer p {
  margin-left: 0.8rem;
  color: var(--color-grey);
  font-size: 0.7rem;
}

.main-articles-footer a {
  color: var(--color-grey);
  font-size: 0.7rem;
}

.nav-1 a {
  color: var(--color-white);
}

.nav-1 ul {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-content: center;
  padding: 0.5%;
}

.nav-1-ul-1 {
  width: 60%;
  margin-left: 1%;
}

.nav-1 li {
  margin-right: 3%;
  opacity: 0.5;
}

.nav-2 ul li {
  margin-right: 3%;
}

.nav-1-ul-1 li:nth-child(6) {
  min-width: 7rem;
}

.nav-1-ul-1 li:nth-child(2),
.nav-1-ul-1 li:nth-child(3) {
  min-width: 3.8rem;
}

.nav-1-ul-2 {
  width: 20%;
  justify-content: flex-end;
}

.nav-1 li:hover {
  opacity: 1;
}

header p {
  background-color: var(--color-yellow);
  width: 100%;
  padding: 0.5%;
  font-size: 0.9rem;
  margin-top: 0;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.nav-2 ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-2-ul-1 {
  width: 75%;
  align-content: center;
  margin-left: 1rem;
}

.nav-2-ul-2 {
  width: 25%;
  height: 3rem;
  justify-content: flex-end;
}

.nav-2-ul-1 a {
  display: block;
  color: var(--color-black);
  opacity: 0.5;
  min-width: 10%;
  text-align: center;
  margin-top: 1rem;
}

.nav-2-ul-1 a:hover {
  opacity: 1;
}

.nav-2-ul-2 li:not(:last-child) {
  margin-top: 1rem;
}

.nav-2-ul-2-text {
  min-width: 17rem;
}

.nav-2-ul-2-text span {
  font-family: var(--chakra-font);
  color: black;
  font-weight: 500;
}

.nav-2-ul-2-text span:nth-child(1) {
  font-size: 1rem;
}

.nav-2-ul-2-text span:nth-child(2) {
  font-size: 0.7rem;
}

.nav-2-ul-2:last-child {
  margin-bottom: 3rem;
}

.nav-2-ul-2 button {
  font-size: 0.7rem;
  background-color: var(--color-ligth-green);
  color: var(--color-white);
  height: 70%;
  text-transform: uppercase;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  min-width: 7rem;
}

.hamburger-menu {
  display: none;
}

.countdown {
  color: var(--color-orange);
  font-size: 1.5rem;
  font-weight: bolder;
}

.gradient-logo img {
  width: 7rem;
  height: 100%;
  float: left;
  display: none;
}

.nav-2-ul-2 li:nth-child(1),
.nav-2-ul-2 li:nth-child(2) {
  height: 100%;
  border-left: 1px solid var(--color-light-grey);
  margin: 0;
  margin-right: 1.5rem;
}

.nav-2-ul-2 i {
  margin-top: 1rem;
  margin-left: 0.8rem;
}

@media all and (max-width: 1114px) {
  .gradient-logo img {
    display: block;
  }

  .nav-2-ul-2-text {
    display: none;
  }

  .countdown {
    display: none;
  }

  .nav-2-ul-2 button {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-1 {
    display: none;
  }

  .nav-2 ul:first-child {
    display: none;
  }

  .nav-2-ul-2 {
    width: 100%;
    height: 3rem;
  }

  .main-header-content {
    height: 3rem;
  }

  .gradient-logo img {
    height: 3rem;
  }
}

.main-articles img {
  width: 100%;
  height: 10rem;
}

.main-articles {
  display: grid;
  grid-template: 1fr / 4fr 2fr;
  column-gap: 0.5rem;
  height: 30rem;
  min-height: 30rem;
  margin: 0.5rem;
}

.main-article-aside {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  row-gap: 0.5rem;
}

.hero-article {
  background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.9), rgba(0, 255, 0, 0.1)), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/bmw-car-key-apple-carkey-digital-key-car-unloack-phone-ios-code-796x448.jpg") center center scroll no-repeat;
  background-size: cover;
  color: aliceblue;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.hero-article div:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.main-articles-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-article-date {
  display: flex;
  justify-content: flex-end;
}

.hero-article h1 {
  font-size: 3rem;
}

.main-article-aside-sub-1 {
  background: linear-gradient(to bottom right, red, blue, black, green);
  padding: 1rem;
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.main-article-aside-sub-2 {
  background: linear-gradient(to bottom right, grey, purple, red);
  padding: 1rem;
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.main-articles-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

@media all and (max-width: 1024px) {
  .hero-article div:first-child {
    visibility: hidden;
  }

  .hero-article {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/bmw-car-key-apple-carkey-digital-key-car-unloack-phone-ios-code-796x448.jpg") center center scroll no-repeat;
    background-size: cover;
  }

  .hero-article h1 {
    font-size: 2rem;
  }

  .main-article-aside h1,
  .main-article-aside h2 {
    font-size: 1rem;
  }
}
