:root {
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(219, 216, 216);
  --color-white: rgb(255, 255, 255);
  --chakra-font: 'Chakra Petch', sans-serif;
  --color-ligth-green: rgb(0, 204, 204);
  --color-orange: rgb(255, 68, 34);
  --color-yellow: rgb(255, 255, 0);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  background: var(--color-white) center center fixed;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  width: 100%;
  height: 2rem;
  color: var(--color-white);
}

/* .nav-2 {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 background-color: var(--color-white);
 width: 100%;
 height: 3rem;
 color: var(--color-black);
 text-transform: uppercase;
 align-content: center;
} */

.nav-1 a {
  color: var(--color-white);
}

.nav-1 ul {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-content: center;
  padding: 0.5%;
}

.nav-1-ul-1 {
  width: 60%;
  margin-left: 1%;
}

.nav-1-ul-2 {
  width: 20%;
}

nav li {
  margin-right: 3%;
  opacity: 0.5;
}

nav li:hover {
  opacity: 1;
}

/* .nav-2-ul-1{
 height: 100%;
 width: 60%;
padding: 0em;
}

.nav-2-ul-1 li {
    height: 18px;
    margin: auto 1rem;
}

.nav-2-ul-1 a {
 font-family: var(--chakra-font);
 font-weight: 500;
 color: var(--color-black);
 font-size: 0.9rem;
 height: 100%;
}

.nav-2-ul-2{
 width: 40%;
 font-size: 0.7rem;
 border-left: 1px solid var(--color-grey);
 
}

@media all and (max-width: 1114px) {
    .nav-2-ul-2 {
        width: 5%;
    }
}

.nav-2-ul-2 li:not(:last-child){
 font-family: var(--chakra-font);
 font-weight: 500;
 height: 0.9rem;
 margin: auto 0.5rem;
 }
     
 .nav-2-ul-2 li:last-child {
     min-width: 20%;
     min-height: 2rem;
 }



 .nav-2-ul-2 span, .nav-2-ul-2 i {
     height: 100%;
 }

.nav-2-ul-2 li:hover {
 opacity: 0.5;
}

.nav-2-ul-2-text {
    min-width: 17rem;
    max-height: 0.9rem;
    text-align: center;
}

.countdown{
 font-size: 17px;
 color: var(--color-orange);
 opacity: 1;
 font-weight: bold;
}

@media all and (max-width: 1114px) {
    .countdown {
        display: none;
    }

    .nav-2-ul-2 button{
        display: none;
    }

    .nav-2-ul-2 span {
        display: none;
    }

    


}

.nav-2-ul-2 button {
 background-color: var(--color-ligth-green);
 color: var(--color-white);
 border: none;
 outline: none;
 height: 100%;
 width: 100%;
 padding: 5%;
 border-radius: 0.1rem;
 text-transform: uppercase;
 cursor: pointer;
 opacity: 1;
} */

header p {
  background-color: var(--color-yellow);
  width: 100%;
  padding: 1%;
  font-size: 0.9rem;
  margin-top: 0;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  height: 3rem;
}

.nav-2 ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-2-ul-1 {
  width: 60%;
  align-content: center;
}

.nav-2-ul-2 {
  width: 40%;
}

.nav-2-ul-1 a {
  display: block;
  margin-top: 1.2rem;
}
